.sidebar{
    flex: 2;
    height: calc(100vh - 0px);
    background: #253053;
    top: 0;
    bottom: 0;
    position: sticky;
    overflow:initial;
    .sidebar-wrapper{
        padding: 20px;
        color: #d6d3d3;
        .sidebar-imgs{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            .sidenav-img{
               width: 30%;
               border-radius: 50% 50% 10% 10%;
            }
        }
        .sidebar-ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 5px;
            .sidenav-li{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px 10px;
                cursor: pointer;
                border-radius: 10px;
                a{
                    font-size: 1rem;
                    color: #d6d3d3;
                }
            }
            .sidenav-li.active {
                background: #3e4b77;
              }
        }
    }
}